.git
.github
.idea
.vscode
node_modules
vendor
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
database/*.sqlite
database/*.sqlite-journal
.env
.env.*
!.env.example
tests
.phpunit.cache
.phpunit.result.cache
*.md
.DS_Store
Dockerfile
.dockerignore
docker-compose.yml
